.btn-white {
	background: none;
	padding: 15px 20px;
	color: white;
	border:solid 3px white;
	border-radius: 20px;
	display: inline-block;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}